#chatBox {
    --color: #27ffe6;
    --color-use: #8bff87;
    --colorRGB: 255, 0, 153;
    --color-instruct: rgba(var(--colorRGB), 0.3);
    --bg-color-1: #272822;
    --bg-color-2: #454640;
    --border: 2px dashed var(--color-instruct);
    background: var(--bg-color-1);
    color: var(--color);
    padding: 5px;
    height: 100%;
}
#chatBox .box {
    box-sizing: border-box;
    border: var(--border);
    margin: 5px 5px 10px 5px;
    padding: 0px;
    overflow: hidden;
}
#chatBox input,
#chatBox select,
#chatBox button {
    background: var(--bg-color-2);
    color: var(--color);
    border: 0px;
    padding: 8px;
}
#chatBox input.color {
    padding: 5px;
    height: 22px;
    width: 20px;
    vertical-align: bottom;
}
#chatBox button {
    height: 100%;
}
::-webkit-input-placeholder {
    color: var(--color-instruct);
}
#chatBox .msg-box {
    border-right: var(--border);
    list-style: none;
    padding: 0;
    overflow-y: scroll;
}
#chatBox .msg-box li{
    word-wrap: break-word;
}
#chatBox .msg-box .inline-widget {
    display: inline-block;
    background: var(--bg-color-2);
    cursor: pointer;
    width: 100%;
}
#chatBox .msg-box .inline-widget[name="file"] {
    background: var(--bg-color-2);
    box-sizing: border-box;
    /*border-left: solid 2px #00a8c6;*/
    cursor: pointer;
    width: 100%;
    /*height: 30px;*/
    line-height: 26px;
    font-size: 26px;
    padding: 5px;
}
#chatBox .msg-box .inline-widget[name="file"] a {
    color: #ff0099;
    text-decoration: none;
}
#chatBox .msg-box .inline-widget[name="file"] i {}
#chatBox .msg-box .inline-widget[name="file"] ul {
    float: right;
    display: inline-block;
    line-height: 9px;
    font-size: 9px;
    list-style: none;
    font-family: "Segoe UI", Times, serif;
    font-weight: bold;
    width: 60%;
}
#chatBox .msg-box .inline-widget[name="file"] ul li span {
    font-weight: normal;
    float: right;
}
#chatBox .msg-box .inline-widget[name="file"] .source {}
#chatBox .msg-box .inline-widget[name="file"] .size {}
#chatBox .msg-box .inline-widget[name="file"] .name {}
#chatBox .dropBox {
    float: right;
    box-sizing: border-box;
}
#chatBox .dropBox.hover {
    box-sizing: border-box;
    border: var(--border);
}
#chatBox i {
    font-style: normal;
}



#chatBox button{
    position: relative;
    border: none;
    outline:none;
    cursor: pointer;
    overflow:hidden;
    /*color: white;*/
    /*padding: 18px 60px;*/
    /*border-radius: 2px;*/
    /*font-size: 22px;*/
}
#chatBox .ripple{
    overflow:hidden;
}
#chatBox .ripple-effect{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--color-use);
    animation: ripple-animation 2s;
}
@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}
#chatBox svg {
    height: 30px;
    width: 70px;
}
path{
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}
.answer-call {
    color: green;
}
.reject-call {
    padding-left: 5px;
    color: red;
}