/*region general*/
#chatBox {
    --color: #27ffe6; /* default color for text */
    --user-color: #27ffe6; /* color of the own peer */
    --color-high: #ff00ee; /* text highlight color */
    --color-use: #8bff87; /* color shows interactivity*/
    --color-response: #8bff87; /* on user input */
    --colorRGB: 255, 0, 153; /*  */
    --color-instruct: rgba(var(--colorRGB), 0.3);
    --color-border: var(--color-instruct);
    --color-bing: #ff00ee;
    --bg-color-1: #272822;
    --bg-color-2: #454640;
    --border: 2px dashed var(--color-instruct);
    --trans-cool-down: color 2s;
    background: var(--bg-color-1);
    color: var(--color);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#chatBox .box {
    box-sizing: border-box;
    border: var(--border);
    margin: 5px 5px 10px 5px;
    padding: 0px;
    /*overflow: hidden;*/
    transition: border-color 2s;
}
@keyframes bing-animation {
    0% {
        border-color: var(--color-instruct);
    }
    50% {
        border-color: var(--color-bing);
    }
    100% {
        border-color: var(--color-instruct);
    }
}
#chatBox.bing .box {
    /*transition: border-color 0.1s;*/
    animation-name: bing-animation;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
@keyframes ring-animation {
    0% {
        border-color: var(--color-border);
    }
    50% {
        border-color: var(--color-bing);
    }
    100% {
        border-color: var(--color-instruct);
    }
}
#chatBox.ring .box {
    animation-name: ring-animation!important;
    animation-iteration-count: infinite!important;
    animation-duration: 2s!important;
}
/*endregion*/

/*region flex*/
#chatBox .flex {
    display: flex;
}
#chatBox.flex-vert,
#chatBox .flex-vert {
    display: flex;
    flex-direction: column;
}

/*endregion*/
#chatBox .color-cool-down {
    transition: var(--trans-cool-down);
}
#chatBox .color-cool-down:hover {
    transition: color 0s;
    color: var(--color-response);
}
/*region inputs*/
#chatBox input,
#chatBox select,
#chatBox button {
    background: var(--bg-color-2);
    color: var(--color);
    border: none;
    /*padding: 8px;*/
    margin: 0;
    padding: 0 10px 0 10px;
    height: 34px;
    transition: var(--trans-cool-down);
}

#chatBox input:hover,
#chatBox select:hover,
#chatBox button:hover,
#chatBox button i:hover{
    transition: color 0s;
    color: var(--color-response);
}

#chatBox input {
    margin: 0;
    padding: 0;
}
#chatBox input[type="color"] {
    padding: 5px;
    height: 22px;
    width: 20px;
    vertical-align: bottom;
}
/* button */
#chatBox button {
    position: relative;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}
#chatBox button i {
    /*font-size: 1.33333em;*/
    font-size: 1.5em;
    /*line-height: .75em;*/
    line-height: .4em;
    vertical-align: -.1em;
    transition: var(--trans-cool-down);
}

::-webkit-input-placeholder {
    color: var(--color-instruct);
}
/* select */
#chatBox select {
    padding: 7px;
    background: var(--bg-color-2);
    color: var(--color);
}
#chatBox .selectr-container {
    white-space: pre;
    display: inline-block;
    vertical-align: bottom;
}
#chatBox .selectr-container .selectr-selected {
    height: 34px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: auto;
    /*min-width: 150px;*/
    padding: 7px 28px 7px 14px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: var(--bg-color-2);
}
#chatBox .selectr-container .selectr-options-container {
    background: var(--bg-color-2);
    border: none;
    border-bottom: var(--border);
    border-left: var(--border);
}
#chatBox .selectr-container .selectr-options-container .selectr-options li {
    color: var(--color);
    transition: var(--trans-cool-down);
}
#chatBox .selectr-container .selectr-options-container .selectr-options li:hover {
    color: var(--color-response);
    transition: color 0s;
}
#chatBox .selectr-container .selectr-options-container .selectr-options .selected {
    background: var(--bg-color-1);
}
/*#chatBox .selectr-container .selectr-selected .selectr-placeholder {*/
/*color: var(--color)*/
/*}*/
/*endregion*/

/*region flex layout*/
#chatBox > div > .functions {
    margin: 5px 5px 10px 5px;
    width: 40px;
}

#chatBox > .connection {
    flex-shrink: 0;
}

#chatBox > .messages {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: 100%;
    min-height: 200px;
    padding-bottom: 5px;
    overflow: hidden;
    max-height: 50%;
}

#chatBox > .messages .file-widget-view {
    width: 100%;
}

#chatBox > div > .send {
    /*min-height: 200px;*/
    width: 100%;
    flex-grow: 1;
}
#chatBox > .bottom.flex {
    flex-grow: 1;
}
/*endregion*/

/*region scroll bars*/
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-button {
    /*background-color: var(--color);*/
    border: var(--border);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    border: var(--border);
    border-color: var(--color);
    border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
    border-color: var(--color-use);
 }
::-webkit-scrollbar-corner {
    background-color: #999;
}

::-webkit-resizer {
    background-color: #660002;
}

/*endregion*/

/*region side functions */
#chatBox > div > .functions {
    border-right: 0;
    overflow-y: scroll;
    width: 50px;
}
#chatBox > div > .functions > button {
    width: 100%;
    height: 38px;
    color: var(--color) !important;
    /*font-size: 25px !important;*/
}

/*endregion*/

/*region connect box*/
#chatBox .connection .peer-info {
    display: none;
    white-space: pre;
    position: relative;
    font-size: 20px;
    margin-right: 10px;
    color: var(--user-color);
    /*background: var(--bg-color-2);*/
}
#chatBox .connection .selectr-container .selectr-selected {
    /*width: 60px; width is controlled in js  */
}
#chatBox .connection #audio-out-visual {
    float: right;
}
/*endregion*/

/*region msg box */
#chatBox>.messages>.msg-box {
    border-right: 0;
    /*max-height: 100%;*/
    min-width: 300px;
    resize: horizontal;
    overflow-y: scroll;
}

#chatBox .msg-box li {
    word-wrap: break-word;
}

#chatBox .msg-box .inline-widget {
    display: inline-block;
    background: var(--bg-color-2);
    cursor: pointer;
    width: 100%;
}

#chatBox .msg-box .inline-widget[name="file"] {
    background: var(--bg-color-2);
    box-sizing: border-box;
    /*border-left: solid 2px #00a8c6;*/
    cursor: pointer;
    width: 100%;
    /*height: 30px;*/
    line-height: 26px;
    font-size: 26px;
    padding: 5px;
}

#chatBox .msg-box .inline-widget[name="file"] a {
    color: var(--color-high);
    text-decoration: none;
}

#chatBox .msg-box .inline-widget[name="file"] i {
}

#chatBox .msg-box .inline-widget[name="file"] ul {
    float: right;
    display: inline-block;
    line-height: 9px;
    font-size: 9px;
    list-style: none;
    font-family: "Segoe UI", Times, serif;
    font-weight: bold;
    width: 60%;
}

#chatBox .msg-box .inline-widget[name="file"] ul li span {
    font-weight: normal;
    float: right;
}

#chatBox .msg-box .inline-widget[name="file"] .source {}

#chatBox .msg-box .inline-widget[name="file"] .size {}

#chatBox .msg-box .inline-widget[name="file"] .name {}
/*endregion*/

/*region peer list*/
#chatBox > .bottom.flex > .peer-list {
    border-right: 0;
    overflow-y: scroll;
    min-width: 150px;
}

/*endregion*/

/*region send box*/
#chatBox .dropBox {
    float: right;
    box-sizing: border-box;
}

#chatBox .dropBox.hover {
    box-sizing: border-box;
    border: var(--border);
}

/*endregion*/

/*region ripple effect */
#chatBox .ripple {
    overflow: hidden;
}

#chatBox .ripple-effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--color-use);
    animation: ripple-animation 2s;
}



@keyframes ripple-animation {
    from {
        transform: scale(1);
        opacity: 0.4;
    }
    to {
        transform: scale(100);
        opacity: 0;
    }
}

/*endregion*/

/************ WIDGETS ************/

/*region widget call*/
#chatBox svg {
    height: 30px;
    width: 70px;
}

path {
    stroke-linecap: square;
    stroke: white;
    stroke-width: 0.5px;
}

.answer-call {
    color: green;
}

.reject-call {
    padding-left: 5px;
    color: red;
}
/*endregion*/

/*region widget code*/
.widget-code-view {
    width: 100%;
    height: 100%;
}
/*endregion*/
